.wraper {
    margin-top: 200px;
}

.dialogs {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
}


.dialogsItems {
    margin-left: 20px;
    padding: 10px;
    
}
.messages {
    margin-left: 60px;
    padding: 10px;
    color: #8793a3;
}

.sms {
    padding: 10px;
}

