.wraper {
    margin-top: 200px;
}

.dialogs {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

.dialogsItems {
    margin-left: 20px;
    padding: 10px;
    
}

.dialog {
    padding: 10px;
    text-decoration: none;
}

.messages {
    margin-left: 60px;
    padding: 10px;
    color: #8793a3;
}

.message {
    padding: 10px;
}

.active  {
    color: gold;
}
.dialog a{
    color: black;
    text-decoration: none;
}