.wraper {
    margin-top: 200px;
}

.dialogs {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
}


.dialogsItems {
    margin-left: 20px;
    padding: 10px;
    padding: 32px 28px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.06);
    
}
.messages {
    margin-left: 60px;
    padding: 10px;
    color: #8793a3;
    padding: 32px 28px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.06);
}

